@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// Global CSS
.resume-container {
    width: 56.25rem;
    height: 79.563rem;
}

html {
    font-family: 'Baloo 2', cursive;
    overflow: overlay;
    scroll-behavior: smooth;
}

// Scrollbar
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 6px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.1);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
